#google_translate_element select {
  background: white;
  color: black;
  border: none;
  border-radius: 3px;
  padding: 9px 5px;
  outline: none;
  width: 65%;
  font-size: 14px;
}

/*google translate link | logo */
.goog-logo-link {
  display: none !important;
  display: hidden;
}
.goog-te-gadget {
  color: transparent !important;
}

/* google translate banner-frame */

.goog-te-banner-frame {
  display: none !important;
}

#goog-gt-tt,
.goog-te-balloon-frame {
  display: none !important;
}
.goog-text-highlight {
  background: none !important;
  box-shadow: none !important;
}

@media (width: 640px) {
  #google_translate_element select {
    padding: 3px 5px !important;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-bellefuBackground font-poppins;
  }

  ol {
    list-style-type: decimal;
    @apply m-8;
  }
}

@layer components {
  .link {
    @apply hover:after:scale-x-100 relative inline-block after:bottom-0 after:origin-left after:scale-x-0
    after:content-[""] after:w-[100%] after:h-[1px] after:bg-white after:absolute after:left-0 after:transition after:duration-700 after:ease-in-out;
  }
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(197, 197, 197);

  border-radius: 10px;
}
