@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-bellefuBackground font-poppins select-none;
  }
}

@layer components {
  .link {
    @apply hover:after:scale-x-100     relative inline-block after:bottom-0 after:origin-left after:scale-x-0
    after:content-[""] after:w-[100%] after:h-[1px] after:bg-white after:absolute after:left-0 after:transition after:duration-700 after:ease-in-out;
  }
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(197, 197, 197);

  border-radius: 10px;
}
